// AI(W906-HMI-SHELL) 20260930: icon (taskbar / title bar), manifest, version info of the HMI program window.
#include <windows.h>

1 ICON "hmi_shell.ico"
1 24 "hmi_shell.exe.manifest"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEOS          0x40004
FILETYPE        0x1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName",      "HonPrec"
      VALUE "FileDescription",  "HT HMI"
      VALUE "FileVersion",      "1.0.0.0"
      VALUE "InternalName",     "ht9045_hmi"
      VALUE "OriginalFilename", "ht9045_hmi.exe"
      VALUE "ProductName",      "HT HMI"
      VALUE "ProductVersion",   "1.0.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
